.new-icon {
    margin-top: 10px;    
    list-style: none;
    margin-left: 120px;
    font-size: 40px;
}

.new-icon:hover {
    color: rgb(255, 217, 0);
}

.noteName {
    text-decoration: none;
}

.noteName:hover {
    color: rgb(255, 217, 0);
}

.remove {
    margin-top: -67.4px;
    margin-bottom: 20px;
    width:147px;
    height:30px;
    margin-left: 10px;
    background-color: rgb(35, 42, 75);
    border: none;
    color: rgb(201, 201, 201);
  
}

.remove:hover {
    background-color: rgb(197, 23, 0);
    font-weight: bold;
}