ul {
    margin-top: 155px;    
    list-style: none;
    /* margin-left: 0px; */
}

li {
    background-color: rgb(16, 21, 29);
    width: 30%;
    padding-left: 10px;
    margin-left: 120px;
    padding-top: .5px;
    margin-bottom: 10px;
}


.noteName, a {
    text-decoration: none;
}

.remove {
    margin-top: -67.4px;
    width:147px;
    height:30px;
    margin-left: 0px;
    background-color: rgb(35, 42, 75);
    border: none;
    color: rgb(201, 201, 201);
}

.remove:hover {
    background-color: rgb(197, 23, 0);
    font-weight: bold;
}

.new-icon {
    margin-top: 10px;    
    list-style: none;
    margin-left: 120px;
    font-size: 40px;
}

.new-icon:hover {
    color: rgb(255, 217, 0);
}