
.App {
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-column-gap: auto;
  height: 100%;
  background-color: rgb(72, 80, 97);
}

h1 {
  width: 100%;
  z-index: 1;
  padding-top: 70px;
  margin-top: 0px;
  padding-bottom: 30px;
  color: rgb(201, 201, 201);
  background-color: rgb(30, 40, 59);
  margin-left: 190px;
  padding-left: 40px;
  position: fixed;
}

a {
  color: rgb(201, 201, 201);
}

main {
  color: rgb(201, 201, 201);
}


