
.App {
  display: grid;
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 255vh;
  background-color: rgb(72, 80, 97);
}

h1 {
  width: 100%;
  z-index: 1;
  padding-top: 70px;
  margin-top: 0px;
  padding-bottom: 30px;
  color: rgb(201, 201, 201);
  background-color: rgb(30, 40, 59);
  margin-left: 550px;
  padding-left: 35px;
  position: fixed;
}

a {
  color: rgb(201, 201, 201);
}

main {
  color: rgb(201, 201, 201);
}


